.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example

venv

# Ignore files for PNPM, NPM and YARN
pnpm-lock.yaml
package-lock.json
yarn.lock

# Shipped directly to the browser
src/app.html

src/data/mapbox-color-themes/*
tools/clubData.json
tools/*.geojson